@forward "@react-md/core" with (
  $color-scheme: system,
  $font-family: var(--roboto, Roboto, sans-serif),
  $headline-2-custom-styles: (
    margin-bottom: 0,
  ),

  $disable-rtl: true,
  $disable-surface-color: true,
  $disable-primary-color: true,
  $disable-secondary-color: true,
  $disable-text-secondary-color: true,
  $disable-text-hint-color: true,
  $disable-text-disabled-color: true,
  $disable-warning-color: true,
  $disable-error-color: true,
  $disable-success-color: true,
  $disable-outline-grey-color: true,
  $disable-headline-1: true,
  $disable-headline-3: true,
  $disable-headline-5: true,
  $disable-headline-6: true,
  $disable-subtitle-1: true,
  $disable-subtitle-2: true,
  $disable-body-1: true,
  $disable-body-2: true,
  $disable-caption: true,
  $disable-overline: true,

  // disabling features
  $app-bar-disable-everything: true,
  $avatar-disable-everything: true,
  $badge-disable-everything: true,
  $box-disable-everything: true,
  $button-disable-everything: true,
  $card-disable-everything: true,
  $chip-disable-everything: true,
  $dialog-disable-everything: true,
  $divider-disable-everything: true,
  $draggable-disable-everything: true,
  $expansion-panel-disable-everything: true,
  $form-disable-everything: true,
  $icon-disable-font: true,
  $icon-disable-svg: true,
  $icon-disable-symbol: true,
  $icon-disable-rotator: true,
  $interaction-mode: none,
  $interaction-disable-surface: true,
  $layout-disable-everything: true,
  // link has some stuffs
  $link-disable-everything: false,
  $link-disable-skip-to-main: true,
  $link-disable-flex: true,
  $list-disable-everything: true,
  $menu-disable-everything: true,
  $overlay-disable-everything: true,
  $progress-disable-everything: true,
  $responsive-item-disable-everything: true,
  $segmented-button-disable-everything: true,
  $sheet-disable-everything: true,
  $snackbar-disable-everything: true,
  $table-disable-everything: true,
  $tabs-disable-everything: true,
  $disable-dark-elevation: true,
  $tooltip-disable-everything: true,
  $disable-transitions: true,
  $tree-disable-everything: true,
  $window-splitter-disable-everything: true
);
