@use "react-md" with (
  $rmd-typography-font-family: var(--roboto),
  $rmd-theme-dark-class: "prefers-color-scheme",
  $rmd-utils-enable-rtl: false
);

@include react-md.rmd-utils-base;
@include react-md.react-md-theme;
@include react-md.react-md-typography;
@include react-md.react-md-link;

@media (prefers-color-scheme: dark) {
  :root {
    @include react-md.rmd-theme-dark;
  }
}

// TODO: Revert this commit once styles are loaded correctly again in next
body {
  padding-top: 4rem;
}
